
/*商品详情*/
.breadcrumb-item + .breadcrumb-item::before {
    content: ">>";
}
div.shop{width:210px;}
.details{
    width: 340px;
}

.name_18a_bold {
    font-family: "微軟正黑體",Arial;
    font-size: 18px;
    line-height: 20px;
    color: #3f3f3f;
}
.detail_upbox {  
    margin: 0px;
    padding: 3px 0px 5px 0px;
    font-family: Arial;
    font-size: 12px;
    color: #3f3f3f;
}
.detail_quantitybox {
    margin: 0px;
    padding: 10px 0px 10px 0px;
    color: #333;
    font-family: Arial;
    font-size: 13px;
}
.price_name{
    font-family: "微軟正黑體",Arial;
    font-size: 12px;
    color: #666666;
}

.price_name2{
    text-decoration: line-through;
}